@{
    ViewBag.Title = "Hosted Payment using old school Post request";
}

<div class="well">
    <h1>Ecentric Payments</h1>
    <p class="lead">Code Sample for using the Ecentric Payment Lightbox</p>
</div>


<div class="col-xs-12">
    <form class="form-horizontal" method="post" action="">
        <div class="form-group">
            <label>Amount</label>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <select name="Currency">
                                <option value="ZAR" selected>ZAR</option>
                                <option value="USD">USD</option>
                            </select>
                        </span>
                        <input class="form-control" name="Amount" required type="number" step="0.01" value="10.00" />
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <ul class="list-unstyled">
                        <li><span class="text-info">See documentation for list of Currencies</span></li>
                        <li><span class="text-info">Amount passed to Ecentric should be in cents</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Transaction Type</label>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <select class="form-control" name="TransactionType">
                        <option value="Payment">Payment</option>
                        <option value="Authorize">Authorize</option>
                    </select>
                </div>
                <div class="col-md-6 col-xs-12">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>User Unique Identifier <i>(Optional)</i></label>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="input-group">
                        <input class="form-control" required type="text" name="UserID" value="31315b31-274b-4ae6-8f57-79fcbe2dbbbd" />
                        <span class="input-group-addon">clear</span>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <p class="text-info">Optional field only used in tandem with the Ecentric Wallet</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <input class="btn btn-primary" required type="submit" value="Pay using Hosted Payment Page" />
            </div>
        </div>
    </form>
    <pre>
        
    </pre>
</div>


